body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
header {
  text-transform: capitalize;
}
header h1 {
  font-size: 50px;
  text-align: center;
}
hr {
  border: 2px solid rgb(245, 245, 245);
}
main {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.from {
  font-weight: 600;
  font-size: 25px;
}
span {
  color: red;
}
.to {
  font-weight: 300;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.date {
  font-size: 20px;
  margin-top: 0px;
}
